.navbar-brand{
    background-color:rgb(63, 123, 252);
    color: white;
    font-size: 35px;
    margin-left: 100px;
}
.navbar-item{
    color: grey;
    float:right;
}
.background{
    background-color:gray;
}